<h2>New solution</h2>

<%= render "form.html", question_id: @question_id,  changeset: @changeset,
                        action: question_solution_path(@conn, :create, @question_id) %>

<%= link "Back", to: question_solution_path(@conn, :index, @question_id) %>
