<div id="thanksgiving">
  <div class="row">
    <div class="col s12 m12">
      <div class="card blue darken-1">
        <div class="card-content grey-text text-lighten-3">
          <span id="question-title" class="card-title">問題</span>
          <p  id="question" class="flow-text">問題文がここに入ります</p>
        </div>
      </div>
    </div>
  </div>
  <input id="username" type="text" name="name" placeholder="名前を入れると多分集計できます">
  <div class="row">
    <div class="col s12 m12">
      <ul class="collection">
      </ul>
    </div>
  </div>
</div>
