<div id="thanksgiving">
  <div class="row">
    <div class="col s12 m12">
      <div class="card blue darken-1">
        <div class="card-content grey-text text-lighten-3">
          <span class="card-title">問題</span>
          <p  id="test" class="flow-text">問題文がここに入ります</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12">
      <ul class="collection">
        <li class="collection-item avatar">
          <a href="#">
            <i class="material-icons circle red">A</i>
            <h5>解答</h5>
          </a>
        </li>
        <li class="collection-item avatar">
          <a href="#">
            <i class="material-icons circle green">B</i>
            <h5>解答</h5>
          </a>
        </li>
        <li class="collection-item avatar">
          <a href="#">
            <i class="material-icons circle blue">C</i>
            <h5>解答</h5>
          </a>
        </li>
        <li class="collection-item avatar">
          <a href="#">
            <i class="material-icons circle yellow black-text">D</i>
            <h5>解答</h5>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
