<h2>Edit question</h2>

<%= render "form.html", changeset: @changeset,
                        action: question_path(@conn, :update, @question) %>

<%= link "Back", to: question_path(@conn, :index) %>
