<h2>問題一覧</h2>

<table class="table">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>問題文</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for question <- @questions do %>
    <tr>
      <td><%= question.title %></td>
      <td><%= question.body %></td>

      <td class="text-right">
        <%= link "solutions", to: question_solution_path(@conn, :index, question), class: "btn btn-default btn-xs" %>
        <%= link "Show", to: question_path(@conn, :show, question), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: question_path(@conn, :edit, question), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: question_path(@conn, :delete, question), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New question", to: question_path(@conn, :new) %>
